* {
  border: none;
  border-radius: 15;
  min-height: 0;
  padding: 1px;
}

/* The whole bar with new background transparency */
window#waybar {
  background: transparent; /* dark grey with 90% opacity */
  color: rgba(223, 225, 232, 1); /* light grey, full opacity for readability */
  font-family: "Symbols Nerd Font", "JetBrainsMono NF";
  font-size: 13px;
}

/* -----------------------------------------------------------------------------
* Each module with new padding and color handling
* -------------------------------------------------------------------------- */

/* All modules uniform padding */
#battery,
#clock, 
#cpu,
#memory,
#mode,
#idle_inhibitor,
#network,
#pulseaudio,
#backlight, 
#temperature,
#bluetooth,
#custom-menu,
#custom-power,
#language,
#tray {
  padding: 0px 5px;
  margin: 0px 5px;
}
#custom-mpris {
  margin-left: 10px;
  margin-right: 0px;
  padding: 0px 0px;
}
/* Highlighting the focused workspace and clock */
#custom-menu,
#custom-power,
#workspaces button.focused,
#clock {
  color: rgba(223, 225, 232, 1); /* lighter grey to enhance readability */
  background-color: rgba(138, 129, 119, 0.9); /* soft brown with transparency */
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

#scratchpad {
  color: rgba(223, 225, 232, 1); /* lighter grey to enhance readability */
  background-color: rgba(138, 129, 119, 0.9); /* soft brown with transparency */
  border-radius: 15px;
  padding: 0px 10px;
  margin: 0px 10px;
}

/* Battery animations with warning and critical states */
#battery.warning {
  color: rgba(223, 225, 232, 0.9); /* lighter grey for visibility */
}

#battery.critical {
  color: rgba(223, 225, 232, 0.9); /* lighter grey for visibility */
}

#battery.warning.discharging,
#battery.critical.discharging {
  animation-duration: 2s;
}

/* CPU and Memory warning and critical colors */
#cpu.warning,
#memory.warning {
  color: rgba(223, 225, 232, 0.9);
}

#cpu.critical,
#memory.critical {
  color: rgba(223, 225, 232, 0.9);
  animation-name: blink-critical;
  animation-duration: 2s;
}

/* Mode and network disconnections */
#mode {
  background: rgba(30, 30, 30, 0.9);
}

#network.disconnected,
#pulseaudio.muted {
  color: rgba(223, 225, 232, 0.9);
}

#temperature.critical {
  color: rgba(223, 225, 232, 0.9);
}

#workspaces {
  background: rgba(30, 30, 30, 0.9);
  border-radius: 15px;
  padding-right: 0px;
  padding-left: 0px;
}

#workspaces button {
  padding-left: 10px;
  padding-right: 10px;
  color: rgba(223, 225, 232, 1);
  border-radius: 15px;
}

#workspaces button.focused {
  border-color: rgba(138, 129, 119, 0.9);
}

#workspaces button.urgent {
  border-color: rgba(66, 60, 56, 0.9);
  color: rgba(66, 60, 56, 0.9);
}
