* {
  border: none;
  border-radius: 15px;
  min-height: 0px;
  padding: 1px;
}

window#waybar {
  background: transparent;
  color: rgba(223, 225, 232, 1);
  font-family: "Symbols Nerd Font", "JetBrainsMono NF";
  font-size: 13px;
}

#battery,
#cpu,
#memory,
#mode,
#idle_inhibitor,
#network,
#pulseaudio,
#backlight,
#temperature,
#bluetooth,
#language,
#tray,
#custom-vpn,
#custom-rotation {
  padding: 0px 5px;
  margin: 0px 5px;
}

#custom-mpris {
  margin-left: 10px;
  margin-right: 0px;
  padding: 0px 0px;
}

#mode,
#custom-menu,
#custom-power {
  color: rgba(223, 225, 232, 1);
  background-color: rgba(138, 129, 119, 0.9);
  border-radius: 15px;
  padding: 0px 10px;
  margin: 0px 5px;
}

#clock {
  background-color: rgba(138, 129, 119, 0.9);
  border-radius: 15px;
  padding: 0px 10px;
  margin: 0px 5px;
}

#scratchpad {
  color: rgba(223, 225, 232, 1);
  background-color: rgba(138, 129, 119, 0.9);
  border-radius: 15px;
  padding: 0px 10px;
  margin: 0px 10px;
}

#workspaces {
  background: rgba(30, 30, 30, 0.9);
  border-radius: 15px;
  margin: 0px 5px;
}

#workspaces button {
  color: rgba(223, 225, 232, 1);
  border-radius: 15px;
  padding: 0px 10px;
}

#workspaces button.focused {
  color: rgba(223, 225, 232, 1);
  background-color: rgba(138, 129, 119, 0.9);
  border-radius: 15px;
}

#workspaces button.urgent {
  border-color: rgba(66, 60, 56, 0.9);
  color: rgba(66, 60, 56, 0.9);
}

@keyframes blink-critical {
  0% { color: @text; }
  100% { color: red; }
}

#battery.warning {
  color : orange;
}

#battery.critical:not(.charging) {
  animation-name            : blink-critical;
  animation-duration        : 0.5s;
  animation-timing-function : linear;
  animation-iteration-count : infinite;
  animation-direction       : alternate;
}

